.tagCloud { 
	padding: 2px; 
	line-height: 3em; 
	text-align: center; 
	margin: 0; 
}
.tagCloud li { 
	padding: 3px;
	display: inline;
}


/*li.smallest{ font-size: 0.7em; font-weight: 100; }
 #cloud a.tag2 { font-size: 0.8em; font-weight: 200; }
li.small { font-size: 0.9em; font-weight: 300; }
 #cloud a.tag4 { font-size: 1.0em; font-weight: 400; }
li.medium{ font-size: 1.2em; font-weight: 500; }
 #cloud a.tag6 { font-size: 1.4em; font-weight: 600; }
li.large { font-size: 1.6em; font-weight: 700; }
 #cloud a.tag8 { font-size: 1.8em; font-weight: 800; }
li.largest  { font-size: 2.2em; font-weight: 900; }
 #cloud a.tag10 { font-size: 2.5em; font-weight: 900; }*/
 
 li.smallest{ font-size: 1.1em; font-weight: 100; }
 #cloud a.tag2 { font-size: 1.1em; font-weight: 200; }
li.small { font-size: 1.5em; font-weight: 300; }
 #cloud a.tag4 { font-size: 1.5em; font-weight: 400; }
li.medium{ font-size: 2.0em; font-weight: 500; }
 #cloud a.tag6 { font-size: 2.0em; font-weight: 600; }
li.large { font-size: 2.5em; font-weight: 700; }
 #cloud a.tag8 { font-size: 2.5em; font-weight: 800; }
li.largest  { font-size: 3.0em; font-weight: 900; }
 #cloud a.tag10 { font-size: 3.0em; font-weight: 900; }
 
  /* for searchable plugin text field */
.inset {border-style:inset}

div.warn {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

.menuButton a.meta {
    background: url(../images/fam/tag.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.images {
    background: url(../images/fam/images.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.link {
    background: url(../images/fam/link.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.excel {
    background: url(../images/fam/page_white_excel.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton input.addLink {
    background: url(../images/fam/link_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* 3/15/2013 brg: The following blocks modify properties of the main TMI menu, which
   was implemented using the CSS Dropdown module, whose CSS files live in the
   umn-web-template plugin's web-app/css directory. Rather than modifying those files
   directly, we're overriding here. */

ul.dropdown ul {
 /* Existing properties (in dropdown.css):
 visibility: hidden;
 position: absolute;
 top: 100%;
 left: 0;
 z-index: 598;
 width: 100%;*/
 
 /* 3/13/2013 brg: Fade out dropdowns so user has a chance to correct if they
    inadvertently lose mouseover */   
 opacity: 0;
 transition:visibility 0s linear .5s, opacity .5s linear;
 -webkit-transition:visibility 0s linear .5s, opacity .5s linear;
 -moz-transition:visibility 0s linear .5s, opacity .5s linear;
 -o-transition:visibility 0s linear .5s, opacity .5s linear;
}

ul.dropdown li:hover > ul { 
 /* Existing properties (in dropdown.css):
 visibility: visible; */
 
 /* 3/13/2013 brg: Due to fading, two dropdowns can be simultaneously visible. If they have
    the same z-index, browsers appear to consider the last-added item (rightmost in this case)
    on top. This can cause a fading dropdown to take precedence over the currently-hovered
    item's dropdown on mouseover. */
 z-index: 600;
 opacity: 1;

 /* 3/13/2013 brg: Seems to be necessary to cause dropdowns to appear instantly, without
    this they fade in, as dictated by transition properties in above block. */
 transition:opacity 0s linear;
 -webkit-transition:opacity 0s linear;
 -moz-transition:opacity 0s linear;
 -o-transition:opacity 0s linear;
}

#tmiMenuSearchItem
{
	font-weight: normal;
	float: right;
	background-color: #2f6cab;
	height: 35px; /* Otherwise Firefox makes it 36px, leaving a 1px line between menu and submenu */
}